* {
  font-family: 'Antonio', Antonio;
  box-sizing: border-box;
}

.img-news {
  width: 2rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}

.img-news img {
  width: 25rem;
  height: auto; /* Certifique-se de que a altura esteja com a unidade correta */
  object-fit: cover; /* Para ajustar a imagem conforme necessário */
}

.text-init{

  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 75%;
  text-align: center;
  margin-left: 13%
}
.text-init p{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  text-align: center;
}


.title {
    width: 226px;
    height: 53px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.NavBarJSD{
    height: 20px;
}

@media screen and (min-width: 380px) {
    .title {
        width: 226px;
        height: 53px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 576px) {
    .title {
        width: 453px;
        height: 106px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 992px) {
    .title {
        width: 906px;
        height: 212px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}


html, body {
    height: 100%;
    background-image: linear-gradient(to right, #252a3d, #2d5a9c);
    display: flex;
    flex-direction: column;
}

.photo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;

  border-radius: 50%;
  margin-top: 12px;
}


.photocard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  border-radius: 15%;
  margin-top: 12px;
}

.footer {
    background-color: #000000;
    padding: 1rem;
    text-align: center;
    margin-top: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    margin: 0 10px;
}

a{
    color: #fff;
    text-decoration: none;
}

/* General Navbar Styling */
.navbar {
  z-index: 10;
  display: flex; /* Makes navbar items display horizontally */
  justify-content: space-between; /* Spreads items evenly */
  align-items: center; /* Aligns items vertically in center */
  background-color: #000000; /* Light gray background */
  padding: 10px 20px; /* Adds padding around navbar items */
  width: 100%;
}

/* Styling for list items */
.nav-list {
  list-style: none; /* Removes default bullet points */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

/* Styling for individual navigation items */
.nav-item {
  margin-right: 15px; /* Adds margin between items */
}

/* Styling for navigation links */
.nav-item a {
  text-decoration: none; /* Removes underline from links */
  color: #ffffff; /* Dark gray text color */
  font-weight: bold; /* Makes text bold */
}

/* Styling for hover effect on links */
.nav-item a:hover {
  color: #000; /* Black text color on hover */
  background-color: #ddd; /* Light gray background on hover */
}

/* Styling for dropdown menu (if needed) */
.dropdown-content {
  display: none; /* Hides dropdown content by default */
  position: absolute; /* Positions dropdown below parent item */
  background-color: #000000; /* Light gray background */
  padding: 10px; /* Adds padding to dropdown content */
  list-style: none; /* Removes default bullet points */
}

/* Shows dropdown menu on hover over parent item */
.nav-item:hover .dropdown-content {
  display: block; /* Shows dropdown content on hover */
}

/* Styling for dropdown link items */
.dropdown-content a {
  color: #000000; /* Dark gray text color */
  font-weight: normal; /* Makes text regular weight */
}

/* Hover effect on dropdown link items */
.dropdown-content a:hover {
  color: #000; /* Black text color on hover */
  background-color: #ddd; /* Light gray background on hover */
}
/* Remove o inline-block específico para o dropdown */
.dropdown-content li {
     display: block; /* Exibe os itens em blocos, um abaixo do outro */
     margin: 5px 0; /* Adiciona um pequeno espaço entre os itens */
    }
    
.dropdown-content a {
 color: #ffffff; /* Cor do texto em cinza escuro */
 font-weight: normal; /* Peso normal da fonte */
 padding: 5px; /* Adiciona padding aos itens */
 display: block; /* Garante que o link ocupe toda a largura do item */
}

.dropdown-content a:hover {
 color: #000; /* Cor preta no hover */
 background-color: #ddd; /* Cor de fundo cinza clara no hover */
}

.button {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.3rem;
  background-color: #000000;
  border-radius: 1rem;
  color: #ffffff;
}

.textcenter {
  text-align: center;
  color: #ffffff;
}

.textcentercard{
  text-align: center;
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
}

.textwhite {
  color: #ffffff;
}

.textjustify{
  text-align: justify;
}

.divcenter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cardlinguagens{
  text-align: center;
  color: #ffffff;
  padding: 3rem;
  background: #252a3d;
  border: 1px solid #000000;
  margin-top: 2rem;
  border-radius: 15%;
}

.cardscenter {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-top: 6rem;
}




/* Estilo do contêiner de cards */

.card-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espaço entre os cards */
  padding: 20px;
}

/* Estilo de cada card */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 300px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px; /* Espaço abaixo dos cards */
}

/* Imagem do card */
.card-image {
  width: 100%;
  height: auto;
}

/* Conteúdo do card */
.card-content {
  padding: 16px;
}

/* Título do card */
.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

/* Descrição do card */
.card-description {
  font-size: 1em;
  color: #666;
}

/* Botão do card */
.card-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.card-button:hover {
  background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 1200px) {
  .card-information {
      justify-content: center;
  }
}

@media (max-width: 992px) {
  .card {
      max-width: 90%;
  }
}

@media (max-width: 768px) {
  .card-information {
      flex-direction: column;
      align-items: center;
  }

  .card {
      max-width: 100%;
  }
}



@media (max-width: 576px) {
  .card-title {
      font-size: 1.2em;
  }

  .card-description {
      font-size: 0.9em;
  }

  .card-button {
      padding: 8px 16px;
      font-size: 0.9em;
  }
}

/* Fim dos cards*/

/* Estilo para texto que escreve sozinho*/

.txt-animater{
color: #fff;
display: flex;
align-items: center;
justify-content: center;
font-size: 4rem;
font-weight: 300;
background-color: #000;
margin-top: 3rem;

}

.txt-animater span{

position: relative;

}

.txt-animater span::before{

  content: "";
  color: rgb(214, 214, 214);
  animation: FraseQuetal 20s infinite ;
  right: -30px;
}

.txt-animater span::after{
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid #fff;
  right: -10px;
  animation: cursor 0.8s infinite, digitando 20s steps(15) infinite;
  width: calc(100% + 10px);
  background-color: black ;

}

@keyframes digitando {

  10%, 15%, 30%, 35%, 50%, 55%,70%, 75%, 90% ,95%{
    width: 0;
  }
  5%, 20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 10px);
  }

}


@keyframes cursor {
  0%{
    border-left: 2px solid #000000;
  }
  
}

@keyframes FraseQuetal {

  0%,20%{
    content: " agendarmos uma reunião?";
  }
  21%,40%{
    content: " marcarmos um encontro?";
  }
  41%,60%{
    content: " conversamos melhor?";
  }
  61%,80%{
    content: " fecharmos um acordo?";
  }
  81%,100%{
    content: " discutirmos os detalhes finais?";
  }
  
}



/* Responsividade */
@media (max-width: 1200px) {
  .txt-animater {
    font-size: 3rem; /* Reduz o tamanho da fonte para telas menores que 1200px */
  }
}

@media (max-width: 992px) {
  .txt-animater {
    font-size: 2.5rem; /* Reduz ainda mais para telas menores que 992px */
  }
}

@media (max-width: 768px) {
  .txt-animater {
    font-size: 2rem; /* Reduz o tamanho da fonte para telas menores que 768px */
    margin-top: 2rem; /* Ajusta a margem para telas menores */
  }
}

@media (max-width: 576px) {
  .txt-animater {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para telas menores que 576px */
    margin-top: 1rem; /* Ajusta a margem para telas menores */
  }
}


/* final do estilo para texto que escreve sozinho*/

/* estilos para a galeria rotativa
*/
.iconcenter {
  text-align: center;
}

.icone {
  margin: 0.5rem;
  font-size: 2rem;
  opacity: 1;
}

.icone:hover {
 opacity: 0.7;
}

.slider-wrapper {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1000px; /* Definindo uma largura máxima */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

input[name="slider"] {
  display: none;
}

input#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

input#slide-2:checked ~ .slides {
  transform: translateX(-100%);
}

input#slide-3:checked ~ .slides {
  transform: translateX(-200%);
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.slider-nav {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-nav label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
}

.slider-nav label:hover {
  background-color: #ddd;
}





